<html>
<head>
<title>Data</title>
<div>
    <a href="welcomepage.html">
   HOMEPAGE </a>  </div>
<body bgcolor="pink"><center>

<h1>Viewing  and Updating Data</h1>
<br><br>
<a href="/interndata/<%=suserid%>">View InternshipData</a>
<br><br>
<a href="studentdata.html">Update Data</a>
<br><br>
</body>
</head>
</html>